$ionicons-font-path: "../assets/fonts";

// gf ui standard
// font
$gf-font: "Lantinghei SC"; // 方正兰亭黑

$gf-link-light: #35a0cc;
$gf-link-color: #1187eb;
$gf-alert-color: #e94e60;
$gf-succ-color: #70ac54;;
$gf-error-color: #de5656;

$gf-bg-color: #f2f2f2;
$gf-dark-bg: #20242d;
$gf-item-border: #454b56;
$gf-btn-disabled: #515762;

// icon
$positive: $gf-alert-color;
$bar-default-bg: #e94d62;
// $base-color: #fff;
// $item-default-text: #eee;

// $item-default-active-bg: ;
// $item-default-active-border: #20242d;

// $z-index-modal: 12 !default;